---
import Layout from '@layouts/Base.astro';
import { ActivityCarousel, ActivityInfographic, Header } from '@components/astro';

export const prerender = true;

const title = 'Деятельность';
const description = 'Деятельность';
---

<Layout
  title={`${title} • СК «Масштаб»`}
  description={`${description} • Строительная Компания «Масштаб»`}>
  <div class:list={['min-h-screen', 'flex grow flex-col']}>
    <Header
      class='frame/2'
      {title}
    />

    <main
      class:list={['frame/2', 'mb-0', 'flex grow flex-col justify-around']}
      itemprop='mainContentOfPage'>
      <ActivityInfographic />
    </main>

    <section class:list={['wrapper-xl/2 xl:px-0', 'flex h-40 items-center']}>
      <ActivityCarousel />
    </section>
  </div>
</Layout>
