---
import { Img, Link, ThemeToggleShift, ToTop } from '@daks.dev/astro.sdk/astro';
import NavbarMenu from './NavbarMenu.astro';
import NavbarMenuToggle from './NavbarMenuToggle.astro';

import { navbar } from '@app/configs/nav';

import logo from '@assets/images/skm/logo.navbar.webp';
---

<div
  id='app-navbar'
  class:list={[
    'absolute top-0 right-0 left-0 z-50 scrolled-up:fixed'
    // 'bg-theme-frame',
    // 'shadow-xs shadow-neutral-300 dark:shadow-neutral-900 onscroll:shadow-md'
    // 'border-b border-gray-100 dark:border-gray-900'
  ]}>
  <div
    class:list={[
      'frame/2',
      'h-(--navbar-height) w-full',
      'grid grid-cols-[1fr_auto] place-content-center gap-x-3',
      'bp:grid-cols-[1fr_auto_1fr]'
    ]}>
    <div class:list={['flex items-center justify-between', 'menu-header']}>
      <div class='flex items-center max-bp:contents'>
        {
          /*<LoadingIndicator
          class:list={[
            'iconify line-md--speedometer-loop',
            'mr-2 size-8',
            'text-gray-500',
            'aria-hidden:invisible'
          ]}
        />*/
        }
        {
          Astro.url.pathname !== '/' && (
            <Link
              href='/'
              aria-label='главная страница'
              data-astro-prefetch>
              <span
                class='sr-only'
                set:text='главная страница'
              />
              <Img
                class:list={[
                  'drop-shadow-xs drop-shadow-black hover:drop-shadow-sm',
                  'ready:animate-[wiggle_20s_ease-in-out_infinite]'
                ]}
                src={logo}
                width={40}
                height={40}
                alt='ао ниц «строительная экспертиза»'
                eager
              />
            </Link>
          )
        }
      </div>
      <NavbarMenuToggle
        custom={['iconify ph--list', 'size-6']}
        class:list={[
          'ml-auto',
          'p-2',
          'text-slate-500',
          'rounded-full',
          'shadow-2xs shadow-gray-400 hover:shadow-md dark:shadow-gray-950'
        ]}
      />
    </div>
    <NavbarMenu items={navbar}>
      <div
        class:list={[
          'flex justify-around bp:contents',
          'py-2',
          'bg-theme-frame',
          'border-t border-neutral-200 dark:border-neutral-700/50'
        ]}>
        <ThemeToggleShift
          class='self-center justify-self-end'
          custom={{
            light: 'iconify line-md--sunny-loop',
            dark: 'iconify line-md--moon-loop',
            shift: 'bg-zinc-400 dark:bg-zinc-600'
          }}
        />
      </div>
    </NavbarMenu>
  </div>
  <ToTop
    custom={['iconify ph--arrow-fat-lines-up-duotone', 'size-8']}
    class:list={[
      'top-1/2 right-4 -translate-y-1/2',
      'p-2',
      'text-slate-500',
      'bg-gray-300/50 dark:bg-gray-700/50',
      'rounded-full'
    ]}
  />
</div>
