@import '@daks.dev/astro.sdk/tailwind';
@source '../';

@plugin "@iconify/tailwind4" {
  prefixes: ph, line-md;
}

@theme {
  --breakpoint-bp: 50rem;

  --font-sans:
    'Roboto', 'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-orange-*: initial;
  --color-amber-*: initial;
  --color-yellow-*: initial;
  --color-lime-*: initial;
  --color-emerald-*: initial;
  /* --color-teal-*: initial; */
  --color-sky-*: initial;
  --color-blue-*: initial;
  --color-indigo-*: initial;
  --color-violet-*: initial;
  --color-purple-*: initial;
  --color-fuchsia-*: initial;
  --color-pink-*: initial;
  --color-rose-*: initial;
  /* --color-zinc-*: initial; */
  --color-stone-*: initial;

  --color-primary: var(--color-white);
  --color-primary-50: var(--color-slate-50);
  --color-primary-100: var(--color-slate-100);
  --color-primary-200: var(--color-slate-200);
  --color-primary-300: var(--color-slate-300);
  --color-primary-400: var(--color-slate-400);
  --color-primary-500: var(--color-slate-500);
  --color-primary-600: var(--color-slate-600);
  --color-primary-700: var(--color-slate-700);
  --color-primary-800: var(--color-slate-800);
  --color-primary-900: var(--color-slate-900);
  --color-primary-950: var(--color-slate-950);

  --color-theme-outer: oklch(96% 0.001 286.375); /* -zinc-100 */
  --color-theme-frame: oklch(98% 0 0); /* -zinc-50 */
  --color-theme-inner: oklch(97% 0.001 286.375); /* -zinc-200*/
  --color-theme-plain: oklch(27.4% 0.006 286.033); /* -zinc-800*/
  --color-theme-header: oklch(37% 0.013 285.805); /* -zinc-700 */
  --color-theme-link: oklch(55.4% 0.046 257.417); /* -slate-500 */
  --color-theme-link-hover: oklch(70.4% 0.14 182.503); /* -teal-500 */
  --color-theme-link-page: oklch(60% 0.118 184.704); /* -teal-600 */
  --color-theme-link-step: oklch(55.4% 0.046 257.417); /* -slate-500 */
  --color-theme-accent: oklch(59% 0.249 0.584);

  --navbar-height: 5rem;
  --sidebar-width: min(25rem, 100vw);
  --sidebar-panel-width: 3rem;
}

:root.theme-dark {
  --color-theme-outer: oklch(10% 0.005 285.823);
  --color-theme-frame: oklch(17% 0.005 285.823); /* -zinc-950 */
  --color-theme-inner: oklch(21% 0.006 285.885); /* -zinc 900 */
  --color-theme-plain: oklch(96.7% 0.001 286.375); /* -zinc-100 */
  --color-theme-header: oklch(92% 0.004 286.32); /* -zinc-200 */
  --color-theme-link: oklch(70.4% 0.04 256.788); /* -slate-400 */
  --color-theme-link-hover: oklch(70.4% 0.14 182.503); /* -teal-500 */
  --color-theme-link-page: oklch(77.7% 0.152 181.912); /* -teal-400 */
  --color-theme-link-step: oklch(70.4% 0.04 256.788); /* -slate-400 */
}

@import './base.css';
@import './utilities.css';
@import './variants.css';
@import './components.css';
