---
import { getImage } from 'astro:assets';
import { Img } from '@daks.dev/astro.sdk/astro';
import { Lightbox } from '@daks.dev/astro.sdk/svelte';
import { HomeCarousel, HomeInfographic } from '@components/astro';
import Layout from '@layouts/Base.astro';

import microdata from '@app/configs/microdata';

const { email, telephone } = microdata.organization;

import logo from '@assets/images/skm/logo.webp';
const thumb = await getImage({
  src: logo,
  width: 312,
  fit: 'contain',
  quality: 80
});
const modal = await getImage({
  src: logo,
  width: 800,
  height: 600,
  fit: 'inside',
  quality: 80
});
---

<Layout
  class='gap-4'
  title='Строительная Компания «Масштаб»'
  description='Строительная и техническая экспертиза, обследование зданий и сооружений в Москве • Строительная Компания «Масштаб»'>
  <div class:list={['frame-xl/2', 'mt-20 mb-8 bp:mt-32', 'flex flex-wrap items-center']}>
    <header class='flex w-fit flex-col'>
      <Lightbox
        client:load
        custom={{ overlay: 'overflow-offset' }}
        title='Масштаб ™'
        description='Строительная Компания'>
        <Fragment slot='thumbnail'>
          <Img
            class:list={[
              'mx-auto w-52 pb-4 lg:-translate-y-10',
              'sm:mx-0 sm:inline-block',
              'drop-shadow-2xl hover:sepia'
            ]}
            src={thumb}
            eager
            alt='skm: logotype thumbnail'
            itemprop='thumbnailUrl'
          />
          <link
            href={logo.src}
            rel='image'
            itemprop='primaryImageOfPage'
          />
          <h1
            class:list={[
              'sm:inline-block',
              'text-center leading-none font-semibold sm:text-left',
              'text-zinc-600 dark:text-zinc-300',
              'text-shadow-lg text-shadow-neutral-300 dark:text-shadow-neutral-700',
              'shadow-zinc-400 dark:shadow-zinc-600'
            ]}>
            <span
              class:list={[
                'block',
                'font-extrabold uppercase',
                'text-3.5xl md:text-4xl lg:text-4.5xl xl:text-5xl'
              ]}>
              Масштаб &trade;
            </span>
            <span
              class='text-xl xs:text-2xl sm:text-2.5xl md:text-3.5xl lg:text-2.5xl xl:text-4xl 2xl:text-4.5xl'>
              Строительная&nbsp;компания
            </span>
          </h1>
        </Fragment>
        <Img
          class:list={['bg-10% bg--loading bg-center bg-no-repeat', 'hover:sepia']}
          src={modal}
        />
      </Lightbox>
      <!-- text-cyan-600 dark:text-cyan-700 -->
      <h2
        class:list={[
          'pt-4',
          'font-normal',
          'text-3xl xs:text-4xl md:text-5xl lg:text-4.5xl xl:text-5xl 2xl:text-6xl',
          'text-teal-500',
          'text-center leading-tight lg:text-left'
          //'text-cyan-700 dark:text-cyan-600'
        ]}>
        Строим будущее <span class='whitespace-nowrap'>по-новому</span>
      </h2>
    </header>

    <div class:list={['xs:hidden', 'mt-8 w-full', 'flex justify-around']}>
      <a
        class:list={[
          'flex size-20 items-center justify-center',
          // 'text-slate-500',
          'rounded-lg',
          'shadow-xs shadow-zinc-400 dark:shadow-black'
        ]}
        href=`tel://${telephone.replace(/[\s-()]/g, '')}`
        aria-label='позвонить'>
        <span
          class:list={['iconify ph--phone-call', 'bg-only size-14']}
          set:text='позвонить'
        />
      </a>
      <a
        class:list={[
          'flex size-20 items-center justify-center',
          // 'text-slate-500',
          'rounded-lg',
          'shadow-sm shadow-zinc-400 dark:shadow-black'
        ]}
        href=`mailto:${email}`
        aria-label='отправить сообщение'>
        <span
          class:list={['iconify ph--envelope', 'bg-only size-16']}
          set:text='отправить сообщение'
        />
      </a>
    </div>
    <div
      class:list={[
        'max-sm:hidden',
        'w-full max-w-sm max-lg:h-56 lg:max-xl:max-w-xs',
        'mx-auto max-lg:mt-8 lg:mb-auto'
      ]}>
      <HomeCarousel
        class:list={[
          'overflow-hidden',
          'rounded-md lg:rounded-lg',
          'shadow-sm shadow-zinc-500 dark:shadow-black'
        ]}
      />
    </div>
  </div>

  <main
    class:list={['frame/2', 'flex grow flex-col justify-around gap-y-4', 'mb-0']}
    itemprop='mainContentOfPage'>
    <HomeInfographic />

    <div
      class:list={[
        'frame',
        'text-justify text-xs font-extralight',
        'lg:text-center lg:text-sm',
        'text-zinc-800 dark:text-zinc-400'
      ]}>
      Любая информация, представленная на данном сайте, носит исключительно информационный характер
      и ни при каких условиях не является публичной офертой, определяемой положениями
      статьи&nbsp;437&nbsp;ГК&nbsp;РФ.
    </div>
  </main>
</Layout>
