---
import { twMerge } from '@daks.dev/astro.sdk';
import { Icon, Link } from '@daks.dev/astro.sdk/astro';
import { ApiButton } from '@components/astro';
import { Timer } from '@components/svelte';
import type { HTMLAttributes } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'footer'>, 'class'> {
  class?: ClassValue;
}

const { class: className, ...props } = Astro.props;

import { footer } from '@app/configs/nav';

const currentYear = new Date().getFullYear();
---

<footer
  class={twMerge(
    'frame/2 py-5',
    'flex flex-col gap-y-2',
    'text-xs leading-none text-nowrap',

    className
  )}
  {...props}>
  <div class:list={['flex justify-center', 'max-sm:flex-col max-sm:items-center']}>
    <div class='py-2 text-nowrap max-sm:order-last sm:mr-auto'>
      <a
        href='https://astro.build'
        target='_blank'>
        <Icon
          icon='astro'
          class='inline-block'
          size='1.5em'
        />
        Astro
      </a>
      <span class='px-2'>&mdash;</span>
      <a
        href='https://svelte.dev'
        target='_blank'>
        <Icon
          icon='svelte'
          class='inline-block'
          size='1.25em'
        />
        Svelte
      </a>
    </div>
    <div class='flex flex-wrap justify-center gap-x-4'>
      {
        footer.map(({ class: classValue, role = 'menuitem', ...props }) => (
          <Link
            class:list={['px-0', classValue]}
            {role}
            {...props}
          />
        ))
      }
    </div>
  </div>

  <div class:list={['flex items-center justify-between gap-3', 'max-xs:flex-col']}>
    <Timer
      class='text-sm/none tracking-widest'
      client:idle
    />
    <ApiButton custom='iconify size-4 ph--gear' />
    <span class='text-nowrap'>&copy; {currentYear} СК «Масштаб»</span>
  </div>
</footer>
